/* You can add global styles to this file, and also import other style files */
.toast-success {
  background-color: #2e7d32 !important;
  color: white !important;
}

.toast-error {
  background-color: #c62828 !important;
  color: white !important;
}

.toast-warning {
  background-color: #ed6c02 !important;
  color: white !important;
}

.toast-info {
  background-color: #0288d1 !important;
  color: white !important;
}
